.client-card {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.image-container{
  display: flex;
  justify-content: center;
}

mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
}
